<?xml version="1.0"?>

<model>
    <name>sailboat</name>
    <version>4.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Ognjen Cadovski</name>
        <email>ognjen.cadovski@robbit.rs</email>
    </author>

    <maintainer email="ognjen.cadovski@robbit.rs">Ognjen Cadovski</maintainer>

    <description>
        Sailing boat
    </description>
</model>